.App {
  text-align: center;
  background: url(grey_wash_wall.png);
}

.App-header {
  background-color: white;
  height: 100px;
  padding: 20px;
  /*color: white;*/
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1{
  font-family: portrait_regular,Georgia,Serif !important;
  font-size: 5rem !important;
  margin-top: 0rem !important;
  margin-bottom: 5rem !important;
}

li {
    float: left;
    padding-right:50px;
    font-size: 2rem;
    line-height: 5.5rem;
    display: inline-block;
}

.promise{
  
}
ul{
  margin: auto;
  float:right;

}


.dotted-infinity {
  border-top:0px;
  border-bottom: 2px dotted #2CCCD2;
  width: 95%;
  line-height: 1px; 
  height: 4px;   

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;

}

.spacer {
  border-top:0px;
  border-bottom: 0px ;
  width: 95%;  
}

#pips{
  margin: 1.8rem 0 1rem;
  color: #999;
  box-sizing: border-box
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}

.dotted-infinity:after {
  content: url(infinity.png);
  color: #999;
  display: inline; /* for vertical centering and background knockout */
  background-color: #FFF; /* same as background color */
  padding: 0 .5em; /* size of background color knockout */
}

.rate{
  display:inline;
}

.half-rounded-card {
    display:inline-block;
    border: 1px dotted #ccc;
    -webkit-border-top-right-radius: 1.5rem;
    -webkit-border-bottom-left-radius: 1.5rem;
    -moz-border-radius-topright: 1.5rem;
    -moz-border-radius-bottomleft: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1rem;
    background: #fdfdfd;
    width: 31%;
    margin-right: 2%;
    font-family: portrait_regular,Georgia,Serif;
    font-size: 1.7rem

}

.continue {
    
    
    min-height: 2.6rem;
    background-color: #2CCCD2;
    padding: 1rem 4rem;
    border-radius: .4rem;
    margin-top:5rem;
    color: #fff;
    font-family: portrait_regular,Georgia,Serif;
    line-height: 3.5rem;
    display: inline-block;
    cursor: pointer;
    font-size: 2.5rem;
    border: 0;
    transition: background-color .25s ease-in;
}

.paragraph {
  float:left;
  display:inline-block;
  margin:1rem;
}

.lower-paragraph{

  text-align: justify;
  text-justify: inter-word;

}

.box{

    background: #fdfdfd;
    border: 1px solid #ccc;
    width: 141px;
    border-radius: .5rem;
    line-height: 4.5rem;
    text-align: center;
    color: #333;
    font-weight: 700;
    font-size: 2.3rem;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    margin-top:5rem;
    margin-bottom:5rem;

}

.box::before {
  position: absolute;
  background:  url(arrow-left.png)  ;
  background-size: 10px 20px;
  display: inline-block;
  width: 10px; 
  height: 20px;
  content:"";
  margin-right: 10px;  
  left: 1rem;
  top: 1.2rem;

}

.box::after {
  position: absolute;
  background:  url(arrow-right.png)  ;
  background-size: 10px 20px;
  display: inline-block;
  width: 10px; 
  height: 20px;
  content:"";
  margin-right: 10px;  
  right: .5rem;
  top: 1.2rem;
}

@media (max-width:900px) {

  .App-header{
    display: none;
  }
  .select{
    display:none;
  }
  .frame{

    background: #fff;
    margin: auto;
    width: 95%;
    height: 100%;
    padding: 5rem;
  }

  .half-rounded-card {
    display: none
  }  

  .box{
    width:100px;
    font-size: 1.7rem;
  }

  .box::before {
    position: absolute;
    background:  url(arrow-left.png)  ;
    background-size: 5px 10px;
    display: inline-block;
    width: 5px; 
    height: 10px;
    content:"";
    margin-right: 10px;  
    left: 1rem;
    top: 1.7rem;

  }

  .box::after {
    position: absolute;
    background:  url(arrow-right.png)  ;
    background-size: 5px 10px;
    display: inline-block;
    width: 5px; 
    height: 10px;
    content:"";
    margin-right: 10px;  
    right: .5rem;
    top: 1.7rem;
  }
}


@media (min-width:900px) {

  .frame{
    border:10px;
    border-style: double;
    background: #fff;
    margin: auto;
    width: 850px;
    height: 100%;
    padding: 5rem;
  }
  .half-rounded-card {
    display: inline-block
  }  
}

.slider {
  background-color: #CCCCCC;
  height: 14px;
  border-radius: .5rem;
}

.cover {
  width:95%;
  background-color: #2CCCD2;
  height: 14px;
  border-radius: .5rem;
}
